<% selected_style = '' %>

<div align="center">
  <%= link_to 'Minha coleção', user_path(@user) %>
  <%= link_to 'Itens que eu quero', user_path(@user) %>
  <%= link_to 'Minha coleção', user_path(@user) %>
  <hr style="border: 5px solid; border-color: rgba(0,0,0,0.8)">
</div>