<style type="text/css">
    div.background {
        font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        width: 100%;
        height: 100%;
        background-size: 100%;
        padding: 0;
    }

    div.title {
        font-size: 100px;
        color: #242023;
        display: inline-block;
        margin-top: 5%;
        margin-left: 5%;
        padding: 50px;
        font-weight: bold;
    }

    div.banner-main {

    }
</style>

<div class="background">
    <div class="title">
        CervejaColeções
    </div>
    <div class="banner-main">
        Coleções de bolacha e rotulos de cerveja. Monte sua coleção.
    </div>
</div>