<div class="title center">Items</div>

<% @categories.each do |category| %>

    <% if category.items.any? %>

        <div class="title"><%= category.name %></div>
        <hr>
        <% category.items.each do |item| %>

            <%= render item %>

        <% end %>
    <% end %>
<% end %>

<div class="clear"></div>