<h2>Bem vindo à Cerveja Coleções</h2>

<p>
  Olá <%= @user.name %>, este site é destinado para colecionadores de bolachas e rótulos
  de cerveja, para confirmar seu cadastro e montar sua coleção clique no link abaixo.
</p>

<p>
  <h3>Link de confirmação <%= @confirmation_link %></h3>
</p>