<div align="center" style="padding: 10px">
  <% if notice.present? || alert.present? %>

      <div class="message <%= notice.present? ? 'notice' : 'alert' %>">
        <%= notice %>
        <%= alert %>
      </div>

  <% end %>
</div>